.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
}

.title {
	background-color: var(--title-background-left);
	background-image: linear-gradient(45deg, var(--title-background-left), var(--title-background-right));
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
}

.description {
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: center;
	color: var(--dark-text);
}

.description a {
	color: var(--link);
	text-decoration: underline;
	transition: color 0.2s ease-in-out;
}

.description a:hover,
.description a:focus,
.description a:active {
	color: var(--link-hover)
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
